* {
	margin: 0;
	padding: 0;
}

#header { 
    background-color: black;
}

#main { 
	position: absolute;
    background-color: Grey;
	width: 80%;
	height: 60%;
}

#coucou	{
	height: 75px;
}

#side { 
	position: absolute;
	margin-left: 80%;
	width: 20%;
	height: 60%;
	background-color: Red;
}
#retour {
	background-color: blue;
	width: 600px;
	height: 100px;
	margin: 0 auto;
}

/*#retour form input {
	height: 25px;
	width: 75px;
}*/

#div_input {
	height: 25px;
	width: 75px;
	margin: 0 auto;
}