* {
	margin: 0;
	padding: 0;
}

#header { 
    background-color: black;
}

#main { 
	position: absolute;
	width: 70%;
	height: 60%;
    background-color: Grey;
	box-shadow: 10px 10px 5px #656565;
	border-radius: 5px;
}

#coucou	{
	height: 25px;
	margin: 0 auto;
}

#side { 
	position: absolute;
	margin-left: 75%;
	width: 22%;
	height: 60%;
	background-color: Red;
	box-shadow: 10px 10px 5px #656565;
	border-radius: 25px;
}
#retour {
	background-color: #0B0B61;
	width: 600px;
	height: 50px;
	box-shadow: 10px 10px 5px #656565;
	border-radius: 25px;
	margin: 0 auto;
}

/*#retour form input {
	height: 25px;
	width: 75px;
}*/

#div_input {
	height: 25px;
	width: 75px;
	margin: 0 auto;
}